.footer {
  display: flex;
  width: 100vw;
  margin-top: 50px;
  margin-bottom: -50px;
  background: black;
}

.yellow {
  background: var(--yellow);
  padding: 50px;
  margin-left: -50px;
  min-width: max-content;
  width: 30%;
}

.yellow > h3 {
  font-size: 2.5rem;
  font-weight: 700;
  white-space: pre-line;
  line-height: 1;
  margin-bottom: 25px;
}

.links {
  display: flex;
  flex-flow: column nowrap;
  line-height: 2.5;
}

.red {
  position: relative;
  background: var(--red);
  width: 60%;
}

.blue {
  background: var(--light-blue);
  width: 10%;
}

.circle {
  position: absolute;
  right: 25px;
  border-radius: 50%;
  background: var(--brown);
  height: 100%;
  width: auto;
  aspect-ratio: 1 / 1;
}

@media (max-width: 46rem) {
  .circle {
    display: none;
  }
}

@media (max-width: 32rem) {
  .footer {
    margin-top: 25px;
    margin-bottom: -25px;
  }

  .yellow {
    padding: 25px;
    padding-top: 40px;
    margin-left: -25px;
    width: 60%;
  }

  .yellow > h3 {
    font-size: 2rem;
  }

  .red {
    width: 25%;
  }

  .blue {
    width: 15%;
  }
}
