.hero-container {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 150px;
}

.hero-text {
  display: inherit;
  flex-flow: inherit;
  align-items: center;
  width: min-content;
  position: relative;
}

.hero-text > h1 {
  white-space: pre-line;
  width: min-content;
  line-height: 1;
  font-size: 9rem;
  font-weight: 400;
}

.roles {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: max-content;
  margin: 40px 0;
}

.roles > p {
  font-size: 1.25rem;
}

.year {
  position: absolute;
  border-radius: 50%;
  border: 2px solid currentColor;
  font-size: 3rem;
  padding: 0 3rem;
  width: max-content;
  height: min-content;
  bottom: 1.75rem;
  right: -2.75rem;
}

@media (max-width: 38rem) {
  .hero-container {
    align-items: center;
  }

  .hero-text > h1 {
    line-height: 1;
    font-size: 4rem;
    text-align: center;
  }

  .roles > p {
    font-size: 1rem;
  }

  .year {
    position: unset;
    font-size: 2rem;
    margin-bottom: 32px;
  }
}
