.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Menu Button */
.button {
  --translate-y: 50%;
  --translate-x: -45%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 0 1px var(--foreground);
  border: none;
  width: auto;
  min-width: 75px;
  min-height: 75px;
  aspect-ratio: 3 / 4;
  border-radius: 100px;
  color: var(--foreground);
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  z-index: 2;
}

.button:hover {
  color: var(--background);
  transition: color 0.5s ease 0.2s;
}

.button::before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: '';
  background: var(--foreground);
  top: 100%;
  left: 0;
  transition: top 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  top: 0;
}

.svg {
  width: 1rem;
  height: 1rem;
}

/* Menu */
.menuContainer {
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--background);
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  line-height: 1;
  gap: 20px;
  z-index: 1;
}

.link {
  font-size: 9vw;
  font-weight: 800;
  width: fit-content;
}

.link:last-child {
  flex: 1;
}

/* Other Menu Buttons */
.buttons {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-self: flex-start;
}

/* Tablet */
@media (max-width: 64rem) {
  .menuContainer {
    padding: 50px;
  }
}

/* Mobile */
@media (hover: none) and (max-width: 30rem) {
  .menuContainer {
    padding: 25px;
  }

  .link {
    font-size: 8vw;
  }
}

@media (prefers-reduced-motion) {
  .button:hover {
    color: var(--background);
    transition: none;
  }

  .button::before {
    transition: none;
  }
}
