.nav {
  display: flex;
  justify-content: space-between;
  min-width: 250px;
}

/* Menu Button */
.button {
  --translate-y: 50%;
  --translate-x: -45%;

  position: relative;
  border: 1px solid var(--foreground);
  width: 70px;
  height: 100px;
  border-radius: 100px;
  color: var(--foreground);
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  z-index: 99;
}

.button:hover {
  color: var(--background);
  transition: color 0.5s ease 0.2s;
}

.button::before {
  height: 100%;
  width: 100%;
  position: absolute;
  content: '';
  background: var(--foreground);
  top: 100%;
  left: 0;
  transition: top 0.5s ease-in-out;
  z-index: -1;
}

.button:hover::before {
  top: 0;
}

/* Menu */
.menuContainer {
  width: 100vw;
  position: absolute;
  background: var(--background);
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 4rem;
  gap: 1rem;
  z-index: 1;
}

.link {
  font-size: 5rem;
  font-weight: 800;
}

.socials {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 0.8rem;
  margin-top: 2rem;
}

.social {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .link {
    font-size: 3rem;
  }
}

@media (prefers-reduced-motion) {
  .button:hover {
    color: var(--background);
    transition: none;
  }

  .button::before {
    transition: none;
  }
}
