.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 3rem 0;
  max-height: fit-content;
  min-height: 75vh;
  min-width: 200px;
}

.gradients {
  inset: 0;
}

.titleContainer {
  height: fit-content;
}

.title {
  font-size: 11vw;
  font-weight: 700;
  line-height: 0.9;
  margin-bottom: 0.5em;
}

.title,
.subheading {
  opacity: 0;
}

.subheading {
  font-size: 2vw;
  margin-bottom: 25px;
}

.roles {
  display: flex;
  gap: 10px;
  font-size: 1.5vw;
}

.roles span {
  display: flex;
  align-items: center;
  height: min-content;
  margin: 0;
  gap: 10px;
}

.roles p {
  margin: 0;
}

/* Mobile */
@media (max-width: 40rem) {
  .title {
    font-size: 18vw;
    word-break: break-word;
    width: 4.5ch;
  }

  .subheading {
    font-size: 4vw;
  }

  .roles {
    font-size: 3vw;
  }

  .roles {
    flex-flow: column nowrap;
  }
}
